
h2{
	font-style: Italic;
	font-family: Cursive;
	color: #FFFF00;
	text-align: middle;
}
div{
	border-radius: 5px;
	border: 4px solid black;
	background-color: white;
	height: 30px;
	width: 180px;
	margin: auto;
	text-align: center;
}
a{
        color: #ff0066;
        font-size: 22px;
	text-decoration: none;
	text-align: center;
}
