body { 
	<!-- SCM Music Player http://scmplayer.net -->
<script type="text/javascript" src="http://scmplayer.net/script.js" 
data-config="{'skin':'http://static.tumblr.com/su8juwr/39Wmxnz55/boca4.css','volume':51,'autoplay':true,'shuffle':false,'repeat':1,'placement':'bottom','showplaylist':false,'playlist':[{'title':'Stir It Up','url':'https://www.youtube.com/watch?v=AFWy1qyyMHE&list=PLkVSzrKdeIKUznc9C_1SCbYS-bVYtP3YF'},{'title':'Hotline Bling','url':'https://www.youtube.com/watch?v=uxpDa-c-4Mc'},{'title':'New Thang','url':'https://www.youtube.com/watch?v=xGiBiHocSZM'},{'title':'Ass Drop ','url':'https://www.youtube.com/watch?v=_61LO_8eQY0'},{'title':'Three Little Birds','url':'https://www.youtube.com/watch?v=kWvA31rD8bc&list=PLkVSzrKdeIKUznc9C_1SCbYS-bVYtP3YF&index=10'},{'title':'Trust Issues','url':'https://www.youtube.com/watch?v=_0q5eAaG-38'},{'title':'Work From Home','url':'https://www.youtube.com/watch?v=5GL9JoH4Sws'},{'title':'You And Me','url':'https://www.youtube.com/watch?v=Gww3ADVx1Iw&index=2&list=PLxlejSoPOkrJ7NwkVfsKnwZjuwn5QhXAe'}]}" ></script>
<!-- SCM Music Player script end -->
	background-color: #FFFF00;
    	background-image: url("http://41.media.tumblr.com/9a6f361f7eceeaafe60af672db343a19/tumblr_ne4xq64hoz1tqtfrjo1_500.jpg");
    	background-attachment: fixed;
    	background-repeat: no-repeat;
	background-size: 100%;
}
h2{
	font-style: Italic;
	font-family: Cursive;
	color: #FFFF00;
	text-align: center ;
}
div{
	border-radius: 5px;
	border: 4px solid black;
	background-color: white;
	height: 30px;
	width: 180px;
	margin: auto;
	text-align: center;
	right: 100px;
}
a{
        color: #ff0066;
        font-size: 22px;
	text-decoration: none;
	text-align: center;
}
